body{
    background-color: rgb(149, 229, 238);
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    justify-items: center;
    margin-top: 50px;
}
.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9, .btn10, .btn13{
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 20px;
    transition: 1s all ease;
}
button::before, button::after{
    position: absolute;
    display: block;
}
.btn1:hover{
    transform: rotateX(360deg);
}
.btn2:hover{
    transform: rotateY(360deg);
}
.btn3:hover{
    transform: rotateZ(360deg);
}
.btn4:hover{
    transform: scale(1.5);
}
.btn5:hover{
    transform: scale(0.8);
}
.btn6:hover{
    transform: skew(15deg);
}
.btn7:hover{
    transform: skewY(10deg);
}
.btn8:hover{
    border: 5px dotted red;
    border-radius: 0;
}
.btn9:hover{
    border: thick double red;
}
.btn10:hover{
    border-radius: 0;
    border: 5px ridge red;
    background-color: palegreen;
}
.btn11{
    border-radius:0;
    border-left: transparent;
    border-right: transparent;
    height: 50px;
    width: 100px;
    background-color: transparent;
    border: 5px solid white;
    transition: 1s all ease;
}
.btn11:hover{
    border-left: 15px solid white;
    border-right: 15px solid white;
}
.btn12{
    height: 50px;
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    transition: 2s all ease;
}
.btn12:hover{
   border: 10px inset palevioletred;
}
a{
    text-decoration: none;
    color: white;
    font-size: 0.3in;
}
.underline1::before{
    content: "";
}
.underline1::after{
    content: "";
    display: block;
    transform: scaleX(0);
    height: 2px;
    background-color: blue;
    transition: all 0.3s ease;
}
.underline1:hover::after{
    transform: scaleX(1);
}
.underline2::before{
    content: "";
}
.underline2::after{
    content: "";
    display: block;
    transform: scaleY(0);
    height: 2px;
    background-color: blue;
    transition: all 0.3s ease;
}
.underline2:hover::after{
    transform: scaleY(1);
}
.underline3{
    position: relative;
    display: inline-block;
}
.underline3::before{
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    bottom: 0px;
    background-color: blue;
}
.underline3::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: blue;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: all 2s ease;
}
.underline3:hover::after{
    transform: scale(1,1);
}
.btn13:hover{
    border-radius: 0;
    border-top: 10px solid white;
    border-bottom:10px solid white ;
}